[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = http://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = http/github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = http://github.com/vim-scripts/a.vim.git
[submodule "bundle/alternate"]
	path = bundle/alternate
	url = http://github.com/vim-scripts/a.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/garbas/vim-snipmate.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = http://github.com/tomtom/tlib_vim.git
[submodule "bundle/mw-utils"]
	path = bundle/mw-utils
	url = http://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = http://github.com/honza/vim-snippets.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = http://github.com/godlygeek/tabular.git
